@import "variables";

.content {
  display: flex;
  justify-content: center;
  &_box {
    display: flex;
    margin-top: 4rem;
    background-color: var(--primary-color);
    border-radius: 2rem 2rem 2rem 2rem;
    // border: 5px solid silver;
  }
}
.weather_box {
  background-color: var(--primary-color);
  height: max-content;
  width: max-content;
  min-width: 35vw;
  padding: 1rem;
  border-radius: 2rem 0 0 2rem;

  &_font {
    color: var(--secondary-color);
    font-size: calc(2.5rem + 20 * ((100vw - 350px) / 680));
  }
  .weather_icon {
    width: 100%;
    img {
      width: 35%;
      min-width: 10rem;
    }
  }
  .temperature {
    color: var(--secondary-color);
    &_main {
      font-size: calc(2.5rem + 20 * ((100vw - 350px) / 680));
      // font-weight: 500;
    }
    &_add {
      display: flex;
      text-align: center;
      justify-content: center;
      margin: 1rem;
      font-size: calc(1.5rem + 5 * ((100vw - 600px) / 680));

      .feels_like {
        margin-right: 2rem;
      }
    }
  }
}

.weather_box_next {
  height: max-content;
  // width: max-content;
  min-width: 40vw;
  border-radius: 0 2rem 2rem 0;
  .week_day_row {
    cursor: pointer;
    font-size: calc(0.8rem + 5 * ((100vw - 800px) / 680));
    display: flex;
    // justify-content: center;
    color: var(--secondary-color);
    padding: calc(0.9rem + 5 * ((100vw - 800px) / 680));
    border-bottom: 2px solid silver;
    border-left: 2px solid silver;
    &:last-child {
      border-bottom: 0;
    }
    &_date {
      margin-right: 1rem;
    }
    &_icon {
      margin-left: auto;
      width: calc(1.8rem + 5 * ((100vw - 800px) / 680));
      margin-bottom: -0.6rem;
      margin-top: -0.3rem;

      text-align: center;
    }
    &_temp {
      width: 5rem;
      margin-right: calc(1rem + 120 * ((100vw - 800px) / 900));
      // font-size: calc(0.8rem + 5 * ((100vw - 800px) / 680));
    }
  }
}

.arrow_down {
  // margin-left: auto;
  justify-content: flex-end;
  height: 20px;
  width: 20px;
  &_color {
    filter: invert(1);
  }
}

.dropDay {
  display: flex;
  padding-right: 1rem;
  border-left: 2px solid silver;
  color: var(--secondary-color);
  &_icon {
    width: 10rem;
  }
  &_info {
    text-align: left;
    margin-top: 2rem;
    &_description {
      font-size: calc(1.5rem + 5 * ((100vw - 600px) / 680));
    }
    &_temp {
      margin-top: 1rem;
      font-weight: 400;
    }
  }
}

@media (max-width: 755px) {
  .content {
    display: block;
    &_box {
      display: block;
      margin-top: 0;
      background-color: var(--background-theme);
      border-radius: 0;
      border: 0;
    }
    .weather_box {
      margin: 0;
      margin-top: 1rem;
      border-radius: 0;
      width: 100%;
      &_next {
        background-color: var(--primary-color);
        margin: 0;
        margin-top: 1rem;
        border-radius: 0;
        width: 100%;
        .week_day_row {
          border-left: 0;
          font-size: calc(1rem + 5 * ((100vw - 800px) / 680));
          &_icon {
            left: 50%;
          }
        }
      }
    }
  }
}
