.header {
  background-color: #282c34;
  color: white;
  width: 100vw;
  min-height: 1rem;
  text-align: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  .search_city_box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
