.header {
  position: static;
  background-color: #282c34;
  color: white;
  // width: 100vw;
  min-height: 1rem;
  text-align: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  .search_city_box {
    display: flex;
    align-items: center;
    justify-content: center;

    .input {
      background-color: transparent;
      border-bottom: 3px solid white;
      &_city-name {
        border: 0;
        border-radius: 0;
        background-color: transparent !important;
        border-bottom: 3px solid white !important;
        color: white;
        &:focus {
          outline: none;
          background-color: transparent !important;
          box-shadow: none !important;
          // border-bottom: 3px solid white !important;
        }
      }
    }
  }
}

.button_change_theme {
  position: absolute;
  // float: right;
  margin-left: 90%;
  margin-top: 0.3rem;

  #img {
    width: 2.1rem;
    // float: right;
    // background-color: red;
  }
}

.select_change_language {
  position: absolute;
  // float: right;
  margin-left: 80%;
  select {
    background: #282c34;
    color: white;
    border: 0;
    padding: 0.5rem;
  }
}

@media (max-width: 825px) {
  .header {
    margin: 0;
    width: auto;
    .search_city_box {
      display: block;
      .input_label {
        margin: 0;
      }
      .input {
        margin-left: 0;
        margin-right: 0;
      }
      .button_check {
        button {
          margin: 0;
        }
      }
    }
  }

  .button_change_theme {
    position: absolute; //static
    margin-top: -2.1rem;
    margin-left: 85%;
    // margin-left: 0%;
  }
}
